.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

/****   NAVBAR    ****/


div.navbar-container {
  background-color: lightcoral;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

ul.navbar li{
  display: inline;
  padding: 2em;
  /* margin: 2em; */
  font-weight: bolder;
}

ul.navbar li a {
  color: navy;
  font-size: 2em;
}

ul.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0 !important;
}

.selected{
  box-shadow: 1,1,1,1;
  text-shadow: .1em .1em 3px whitesmoke;
  background-color: lightcoral;
}

/****   Page Containers   ****/

.homePageContainer {
  display: flex;
  justify-content: space-evenly;
}

div.page-container {
  width: 85vw;
  margin-top: 7em;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  padding-left: auto;
  padding-right: auto;
  /* display: block; */
}

div.ui.cards {
  justify-content: space-between;
}

/****   Product Card   ****/

.scoopPrice {
  color: limegreen;
}
.notScoopPrice {
  color: red;
}

div.ui.card {
  margin-top: 2em !important;
}

/**** Hero Pic  ****/

.heroPic {
  width: 100vw;
}

.fullBody {
  width: 100%;
  margin-top: 77px;
}


/****  Mission  ****/

.mission {
  display: block;
  margin: 2em auto;
  color: red;
  text-align: center;
  font-weight: bolder;
}


/****  Mission  ****/

.footer {
  margin-top: 2em;
  /* margin-bottom: 2em; */
  background-color: lightcoral;
  color: black;
  min-height: 7vh;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

/* .copyright {
  margin-top: 2em;
} */

.footerContainer {
  display: flex;
  justify-content: space-evenly
}

.footerSection {
  width: 25vw;
}